.table2{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: grey;
     
    border: 1px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .table1 {   
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px;
    padding-left: 40px;
    padding-right: 10px;
    border-bottom: 1px solid black;
  }